.grid {
    border: 2px solid #000;
    height: 180px;
    width: 180px;
    display: flex;
    flex-wrap: wrap;
    background-color: #f0f0f0; 
    border-radius: 8px; 
  }
  
  .grid div {
    height: 20px;
    width: 20px;
    box-sizing: border-box; 
  }
  
  .ending-block {
    background-color: red;
    border: 1px solid #800000; 
  }
  
  .starting-block {
    background-color: blue;
    border: 1px solid #000080; 
  }
  
  .l1,
  .l2,
  .l3 {
    background-color: brown;
    border: 1px solid #654321; 
  }
  
  .l4,
  .l5 {
    background-color: lightblue;
    border: 1px solid #4682b4; 
  }
  
  .c1 {
    background-color: black;
    border-radius: 2px; 
  }
  
  .c2,
  .c3 {
    background-color: lightgrey;
    border-radius: 2px; 
  }
  
  .frog {
    background-color: green;
    border: 1px solid #006400; 
    border-radius: 50%; 
    animation: bounce 0.5s infinite alternate;
  }
  
  @keyframes bounce {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(-2px);
    }
  }
  